numpy==1.22.2
pandas==0.23.3
scipy==1.1.0
scikit-learn==0.19.2
scikit-image==0.14.1
pillow==5.2.0
matplotlib==3.0.2
seaborn==0.9.0
jupyter
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
