numpy==1.15.4
pandas==0.23.3
scipy==1.1.0
scikit-learn==0.19.2
scikit-image==0.14.1
pillow==5.2.0
matplotlib==3.0.2
seaborn==0.9.0
jupyter
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
