numpy==1.15.4
pandas==0.24.0
scipy==1.1.0
scikit-learn==0.19.2
scikit-image==0.14.1
pillow==5.2.0
matplotlib==3.0.2
seaborn==0.9.0
jupyter
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
